@import "../../scss/variables";
@import "../../scss/mixins";

.header {
    text-align: center;
    margin-top: 5rem;
    padding: 0.5rem;
  h1 {
    font-size:2.3rem;
    margin-bottom: 1rem;
    font-family: monospace;
    color: $cardNavBgColor;
  }
  .btnDiv {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // gap: 1rem;

    @include flexxx(center,1rem);
    button {
      padding: 1rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 1s;
      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}
